[submodule "eeglab"]
	path = eeglab
	url = ./eeglab/
[submodule "fieldtrip"]
	path = fieldtrip
	url = ./fieldtrip/
[submodule "MiscMatlab"]
	path = MiscMatlab
	url = ./MiscMatlab/
[submodule "SASICA"]
	path = SASICA
	url = https://github.com/dnacombo/SASICA
